@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

.callout {
	float: none;
	padding: 1em 2em;
	margin: 5em auto;
	border-radius: 30px;
	box-sizing: inherit;
	box-shadow: 2px 3px 40px 3px #330C5C;
}

.form-container, .devise-form {
	font-family: 'Uncial Antiqua', cursive;
	text-align: center;
	background-color: #a78ac5c7;
}

h2 {
	font-family: 'Uncial Antiqua', cursive;
	font-weight: 500;
	padding-bottom: 50px;
	color: black
}

label {
	font-size: larger;
}

input {
	object-position: 10ch 8em;
}

a.actions {
	color: #330C5C;
}
