@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

.top-bar {
	font-family: 'Uncial Antiqua', cursive;
	background: #330C5C;
}

.header-link{
	color: #eedffb;
	
	&:hover{
		color: #ffffff;
	}
}

h1 {
	font-family: 'Uncial Antiqua', cursive;
}

.button{
	background-color: #eedffb;
	color: #000000;
	border-radius: 1em;

	&:hover{
		background-color: #ffffff;
		color: #000000;
	}
}

.button>a{
	color: #000000;
	border-radius: 1em;
}

.webpage {
	margin: 1em;
}
