@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

.top-bar {
	font-family: 'Uncial Antiqua', cursive;
	background: #330C5C;
}

.top-bar ul {
	background-color: transparent;
}

h1 {
	font-family: 'Uncial Antiqua', cursive;
}

a {
	color: #fffaf0;
}
