body {
	background: hsl(0, 0%, 100%);
}

#create_new_deck {
	height: 100%;
	width: 50%;
	text-align: center;
}

.link {
	color: #401b67;
}

.deck-grid-container {
	color: #000000;
	color: #330C5C;
}

.deck_tile {
	text-align: center;
	color: #330C5C;
}
