body {
	background: #d5d5d5;
}

.create-new-deck-button {
	color: #330C5C;
	text-align: center;

	&:hover{
		color: #ffffff;
	}
}

.cell{
	margin-bottom: 1em;
}

.card {
	background-color: #ffffff;
	text-align: center;
	margin: 1em;
	
	&:hover{
		background-color: #eedffb;
	}
}
